.providers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 24px;
}

.providers button {
  cursor: pointer;
  font: inherit;
  border: 1px solid rgba(0, 0, 0, 0.45);
  outline: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease;
}

.providers button:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075);
}

.providers button div {
  display: flex;
  gap: 10px;
}
