.registerForm {
  display: flex;
  flex-direction: column;
}

.registerForm form {
  margin: 40px 0 20px 30px;
  flex: 1 0 auto;
}

.registerForm h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  color: #364fc7;
  margin-top: 12px;
  margin-bottom: 32px;
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  color: #222;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 18px;
}

.inputs input {
  padding: 8px;
  font-size: 16px;
  width: 75%;
}

.actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  border: 1px solid #364fc7;
  background-color: #364fc7;
  color: white;
  outline: none;
  border-radius: 8px;
  padding: 0.5rem 2rem;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.actions button:hover {
  background-color: #3147b3;
  border-color: #3147b3;
}

.logIn {
  display: inline;
}

.login:link,
.login:visited {
  margin-left: 8px;
  color: rgb(1, 107, 248);
  transition: all 0.3s ease-in-out;
}

.login:hover,
.login:active {
  color: rgb(0, 67, 154);
  box-shadow: 0 1px 0 rgb(0, 67, 154);
}

.error {
  color: #e03131;
  font-weight: 600;
}
